=begin
#Triglav API

#Triglav API Reference

OpenAPI spec version: 1.0.0
Contact: triglav_admin_my@dena.jp
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module TriglavClientBase
  class ResourceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # Creates a new resource
    # @param resource Resource to add
    # @param [Hash] opts the optional parameters
    # @return [Resource]
    def add_resource(resource, opts = {})
      data, _status_code, _headers = add_resource_with_http_info(resource, opts)
      return data
    end

    # 
    # Creates a new resource
    # @param resource Resource to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(Resource, Fixnum, Hash)>] Resource data, response status code and response headers
    def add_resource_with_http_info(resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ResourceApi.add_resource ..."
      end
      # verify the required parameter 'resource' is set
      fail ArgumentError, "Missing the required parameter 'resource' when calling ResourceApi.add_resource" if resource.nil?
      # resource path
      local_var_path = "/resources".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(resource)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Resource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceApi#add_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Deletes single resource
    # @param id_or_uri ID or URI of resource to fetch
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_resource_by_id_or_uri(id_or_uri, opts = {})
      delete_resource_by_id_or_uri_with_http_info(id_or_uri, opts)
      return nil
    end

    # 
    # Deletes single resource
    # @param id_or_uri ID or URI of resource to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_resource_by_id_or_uri_with_http_info(id_or_uri, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ResourceApi.delete_resource_by_id_or_uri ..."
      end
      # verify the required parameter 'id_or_uri' is set
      fail ArgumentError, "Missing the required parameter 'id_or_uri' when calling ResourceApi.delete_resource_by_id_or_uri" if id_or_uri.nil?
      # resource path
      local_var_path = "/resources/{id_or_uri}".sub('{format}','json').sub('{' + 'id_or_uri' + '}', id_or_uri.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceApi#delete_resource_by_id_or_uri\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Returns a single resource
    # @param id_or_uri ID or URI of resource to fetch
    # @param [Hash] opts the optional parameters
    # @return [Resource]
    def find_resource_by_id_or_uri(id_or_uri, opts = {})
      data, _status_code, _headers = find_resource_by_id_or_uri_with_http_info(id_or_uri, opts)
      return data
    end

    # 
    # Returns a single resource
    # @param id_or_uri ID or URI of resource to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(Resource, Fixnum, Hash)>] Resource data, response status code and response headers
    def find_resource_by_id_or_uri_with_http_info(id_or_uri, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ResourceApi.find_resource_by_id_or_uri ..."
      end
      # verify the required parameter 'id_or_uri' is set
      fail ArgumentError, "Missing the required parameter 'id_or_uri' when calling ResourceApi.find_resource_by_id_or_uri" if id_or_uri.nil?
      # resource path
      local_var_path = "/resources/{id_or_uri}".sub('{format}','json').sub('{' + 'id_or_uri' + '}', id_or_uri.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Resource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceApi#find_resource_by_id_or_uri\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Returns all resources from the system
    # @param cluster_id ID of Cluster
    # @param consumable Consuamble
    # @param notifiable Notifiable
    # @param [Hash] opts the optional parameters
    # @return [Array<ResourceEach>]
    def find_resources(cluster_id, consumable, notifiable, opts = {})
      data, _status_code, _headers = find_resources_with_http_info(cluster_id, consumable, notifiable, opts)
      return data
    end

    # 
    # Returns all resources from the system
    # @param cluster_id ID of Cluster
    # @param consumable Consuamble
    # @param notifiable Notifiable
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ResourceEach>, Fixnum, Hash)>] Array<ResourceEach> data, response status code and response headers
    def find_resources_with_http_info(cluster_id, consumable, notifiable, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ResourceApi.find_resources ..."
      end
      # verify the required parameter 'cluster_id' is set
      fail ArgumentError, "Missing the required parameter 'cluster_id' when calling ResourceApi.find_resources" if cluster_id.nil?
      # verify the required parameter 'consumable' is set
      fail ArgumentError, "Missing the required parameter 'consumable' when calling ResourceApi.find_resources" if consumable.nil?
      # verify the required parameter 'notifiable' is set
      fail ArgumentError, "Missing the required parameter 'notifiable' when calling ResourceApi.find_resources" if notifiable.nil?
      # resource path
      local_var_path = "/resources".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'cluster_id'] = cluster_id
      query_params[:'consumable'] = consumable
      query_params[:'notifiable'] = notifiable

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ResourceEach>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceApi#find_resources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # Updates a single resource
    # @param id_or_uri ID or URI of resource to fetch
    # @param resource Resource parameters to update
    # @param [Hash] opts the optional parameters
    # @return [Resource]
    def update_resource_by_id_or_uri(id_or_uri, resource, opts = {})
      data, _status_code, _headers = update_resource_by_id_or_uri_with_http_info(id_or_uri, resource, opts)
      return data
    end

    # 
    # Updates a single resource
    # @param id_or_uri ID or URI of resource to fetch
    # @param resource Resource parameters to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(Resource, Fixnum, Hash)>] Resource data, response status code and response headers
    def update_resource_by_id_or_uri_with_http_info(id_or_uri, resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ResourceApi.update_resource_by_id_or_uri ..."
      end
      # verify the required parameter 'id_or_uri' is set
      fail ArgumentError, "Missing the required parameter 'id_or_uri' when calling ResourceApi.update_resource_by_id_or_uri" if id_or_uri.nil?
      # verify the required parameter 'resource' is set
      fail ArgumentError, "Missing the required parameter 'resource' when calling ResourceApi.update_resource_by_id_or_uri" if resource.nil?
      # resource path
      local_var_path = "/resources/{id_or_uri}".sub('{format}','json').sub('{' + 'id_or_uri' + '}', id_or_uri.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(resource)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Resource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceApi#update_resource_by_id_or_uri\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
